<img  class="content_right_open"src="../images/ArrowLeft.png" alt="">
<div class="content_right">
    <img  class="content_right_close"src="../images/ArrowRight.png" alt="">

    <div class="nav yellow1">
        <p class="nav_p">文章分类</p>
        <ul class="nav_ul">
            <!--<li><a href="/homelist">Javascript</a></li>-->
            <!--<li><a href="">React</a></li>-->
            <!--<li><a href="">ReactNative</a></li>-->
            <!--<li><a href="">Nodejs</a></li>-->
            <!--<li><a href="">美食</a></li>-->
            <% for(var i=0;i<study.length;i++){%>
            <li><a href="/study/studyList?study_name=<%= study[i].study_name %>"><%= study[i].study_name %></a></li>
            <% }%>
        </ul>
    </div>

    <div class="nav yellow1">
        <p class="nav_p">最新留言</p>
        <ul class="nav_ul">
            <li><a href="">薛怀报</a></li>
            <li><a href="">张昊</a></li>
            <li><a href="">操建飞</a></li>
            <li><a href="">何鹏飞</a></li>
            <li><a href="">赵丹青</a></li>
        </ul>
    </div>

    <div class="nav yellow1">
        <p class="nav_p">关于我</p>
        <div class="nav_Self">
            <img src="../images/my.jpg" alt=""><br>
            <span><a href="/my">个人简介</a></span>
        </div>
    </div>

</div>
