<footer>
    <div class="footer"></div>
    <div class="footer_div">
        <span>© 2015-2016, Content By ZhangCF. All Rights Reserved.浙ICP备16046350号</span>
    </div>
</footer>



<script src="../javascripts/style.js"></script>

</body>
</html>
