<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Mongolia</title>
    <link rel="shortcut icon" href="../images/M.png">
    <link rel="stylesheet" href="../stylesheets/slinglove.css">
    <link rel="stylesheet" href="../stylesheets/style.css">


    <link rel="stylesheet" href="../stylesheets/comment.css">

    <link rel="stylesheet" href="../or/swiper/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="../or/swiper/animate.min.css">
    <link rel="stylesheet" href="../stylesheets/color.css">

    <script src="../javascripts/jquery.min.js"></script>
</head>
<body>


<header>
    <div class="header_div">
        <a href="/home"><img class="header_img1" src="../images/mongolia.png" alt=""></a>
        <ul class="header_ul">
            <!--<li><a href="#" style="opacity: 1">Blog</a></li>-->
            <li><a href="/my">My</a></li>
            <li><a href="/react">React</a></li>
            <li><a  class="login_login">登录</a ></li>
        </ul>
        <img class="header_img2"  src="../images/menu1.png" alt="">
        <ol class="nav_icon">
            <li><a href="/slinglove/login">slinglove</a></li>
            <li><a href="https://github.com/Mongoliazhi"><img src="../images/git.png" alt=""></a></li>
            <li><a href="http://weibo.com/u/5872930711"><img src="../images/sina.png" alt=""></a></li>
            <li><a href="#">Welcome!</a></li>
        </ol>
    </div>
</header>

<div class="header_right">
    <div class="bg_header_right"></div>
    <ul class="header_right_ul">
        <li><img src="../images/home.png" alt=""><a href="/">首页</a></li>
        <li><img src="../images/people.png" alt=""><a href="/my">My</a></li>
        <li><img src="../images/blog.png" alt=""><a href="/home">Blog</a></li>
        <li><img src="../images/react.png" alt=""><a href="/React">React</a></li>
        <li><img src="../images/login.png" alt=""><a  class="login_login">>登录</a></li>
    </ul>
</div>

<div class="login_bg">
    <div class="login login_background">
        <p class="login_close"><img src="../images/delete.png" alt=""></p>
        <form>
            <p class="login_p1">勉强登录下呗。。。</p>
            <div class="login_div">
                <img class="login_div_img" src="../images/key.png" alt="">
                <input type="text" name="username" placeholder="用户名" class="username">
                <p class="user_p">
                    <span class="username_span1">* 请输入您的用户名</span>
                    <span class="username_span2">* 请输入正确的用户名</span>

                </p>
            </div>
            <div class="login_div">
                <img   class="login_div_img" src="../images/people1.png" alt="">
                <input type="password" name="password" placeholder="密码" class="password">
                <p class="user_p">
                    <span class="password_span1">* 请输入您的密码</span>
                    <span class="password_span2">* 您输入的密码不对！</span>
                </p>
            </div>
            <div class="login_div">
                <p class="login_zc">注册</p>
                <p class="login_wj_pass">忘记密码？</p>
            </div>
            <div class="login_div">
                <input type="button" class="login_btn" value="登   录">
            </div>
            <div class="login_div">
                <ul class="login_ul3">
                    <li>
                        <img src="../images/qq.png" alt="">
                        <span>QQ</span>
                    </li>
                    <li>
                        <img src="../images/wechat.png" alt="">
                        <span>微信</span>
                    </li>
                    <li>
                        <img src="../images/weibo.png" alt="">
                        <span>微博</span>
                    </li>
                </ul>
            </div>
            <!--<img class="ware_line" src="images/wave_line.png" alt="">-->
        </form>
    </div>
</div>
