<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Mongolia</title>
    <link rel="shortcut icon" href="../images/M.png">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/comment.css">



    <link rel="stylesheet" href="../or/swiper/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="../or/swiper/animate.min.css">
    <link rel="stylesheet" href="../stylesheets/color.css">

    <script src="../javascripts/jquery.min.js"></script>
</head>
<body>
<!--<img style="    position: fixed;width: 100%;z-index: 0" src="../images/1.jpg" alt="">-->
<header>
    <div class="header_div">
        <a href="/home"><img class="header_img1" src="../images/mongolia.png" alt=""></a>
        <ul class="header_ul">
            <!--<li><a href="#" style="opacity: 1">Blog</a></li>-->
            <li><a href="/my">关于我</a></li>
            <li><a href="/react">React</a></li>
        </ul>
        <img class="header_img2"  src="../images/menu1.png" alt="">
        <ol class="nav_icon">
            <li><a href="/slinglove/login">slinglove</a></li>
            <li><a href="#"><img src="../images/git.png" alt=""></a></li>
            <li><a href="http://weibo.com/u/5872930711"><img src="../images/sina.png" alt=""></a></li>
            <li><a href="#">Welcome!</a></li>
        </ol>
    </div>
</header>

<div class="header_right">
    <div class="bg_header_right"></div>
    <ul class="header_right_ul">
        <li><img src="../images/home.png" alt=""><a href="/">首页</a></li>
        <li><img src="../images/blog.png" alt=""><a href="/home">Blog</a></li>
        <li><img src="../images/people.png" alt=""><a href="/my">关于我</a></li>
    </ul>
</div>
