<%- include header%>
<div class="content">
    <div class="content_left">
        <div class="container">
            <div class="nav">
                <p class="nav_p">Javascript</p>
                <ul class="nav_ul">
                    <li>
                        <span>2016年12月 2日 » </span>
                        <a href="">User space 与 Kernel space</a>
                    </li>
                    <li>
                        <span>2016年12月 2日 » </span>
                        <a href="">理解字节序</a>
                    </li>
                    <li>
                        <span>2016年12月 2日 » </span>
                        <a href="">JavaScript 全栈工程师培训教程</a>
                    </li>
                    <li>
                        <span>2016年12月 2日 » </span>
                        <a href=""> IntersectionObserver API 使用教程</a>
                    </li>
                    <li>
                        <span>2016年12月 2日 » </span>
                        <a href="">中文技术文档的写作规范</a>
                    </li>
                    <li>
                        <span>2016年12月 2日 » </span>
                        <a href="">网络文凭，你要不要</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <%- include contentRight%>
</div>

<%- include footer%>
