<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var str="public\images\upload\upload_38809ec17b808e80799388ced49b7b98.jpg"
    var rs=/\w*.\w*$/g;
    var a=str.match(rs)
    console.log(c)

    if (req.url == '/slinglove/article_upload' && req.method.toLowerCase() == 'post') {
        console.log("11111111111111111");
        //创建表单上传
        var up_file=null;
        var form = new formidable.IncomingForm();
        //设置编辑
        form.encoding = 'utf-8';
        //设置文件存储路径ss

        form.uploadDir = "public/slinglove/images/upload";//win本地上传
        //form.uploadDir = "slinglove/images/upload";

        //保留后缀
        form.keepExtensions = true;
        //设置单文件大小限制
        form.maxFieldsSize = 2 * 1024 * 1024;
        //form.maxFields = 1000;  设置所以文件的大小总和
        form.parse(req, function(err, fields, files) {
            // res.writeHead(200, {'content-type': 'text/plain'});
            // res.write('received upload:\n\n');
            // res.end(util.inspect({fields: fields, files: files}));
            if (err) {
                res.render('slinglove/index', { title: "sb" });
                return;
            }else{
                var html=files.file.path;
                console.log(html)
                var rs=/\w*.\w*$/g;
                var re="images/upload/"+html.match(rs).toString();
                console.log(re)
                up_file=re;
                console.log(up_file)
                res.send(up_file)
            }

        });
//        return;
    }
</script>
</body>
</html>