<%- include header%>

    <div class="product">
        <div class="product_bg"><img src="../images/wine.png" alt=""></div>
        <%- include ./product/public/index.ejs %>
    </div>

<%- include footer%>
