<%- include ../header%>
    <!--<script src="../love.js"></script>-->
    <h1>Love</h1>
    <div style="background:#2684C2;width:100%; height:500px"><strong>雪花</strong></div>
    <div class="love_content">
        <h1>I'm QQ - 每一天，乐在沟通</h1>
        <div class="love_content_img"></div>
    </div>
<%- include ../footer%>

