<%- include singlove_header.ejs%>



<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb panel">
            <li><a href="/slinglove/index"><i class="fa fa-home"></i> 首页</a></li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div id="c-slide" class="carousel slide auto">
                    <ol class="carousel-indicators out" style="bottom: -20px;">
                        <li class="" data-slide-to="0" data-target="#c-slide"></li>
                        <li class="active" data-slide-to="1" data-target="#c-slide"></li>
                        <li class="" data-slide-to="2" data-target="#c-slide"></li>
                    </ol>
                    <div class="carousel-inner blog-img-wide">
                        <div class="item text-center">
                            <img src="images/blog/image2.jpg" alt=""><br>
                            <h3>爱与智慧</h3>
                            <p>希腊人（Yavan）从很久之前就对真理和智慧很感兴趣，这也许因为希腊人的祖先按照圣经记载，是挪亚之子雅弗(Japheth)的后裔，天生对意识、思维、知识等人类思想层面的问题感兴趣.</p>
                        </div>
                        <div class="item text-center active">
                            <img src="images/blog/image3.jpg" alt=""><br>
                            <h3>神奇甲壳虫</h3>
                            <p>The Beatles，英国摇滚乐队，由约翰·列侬、保罗·麦卡特尼、乔治·哈里森和林戈·斯塔尔四名成员组成。1960年，
                                乐队于英格兰利物浦市成立，其音乐风格源自20世纪50年代的摇滚乐，并开拓了迷幻摇滚、流行摇滚等曲风</p>
                        </div>
                        <div class="item text-center">
                            <img src="images/blog/log.jpg" alt=""><br>
                            <h3>龙猫</h3>
                            <p>《龙猫》是吉卜力工作室与德间书店于1988年推出的一部动画电影，由宫崎骏执导。电影描写的是日本在经济高度发展前存
                                在的美丽自然，那个只有孩子才能看见的不可思议世界和丰富的想像。</p>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#c-slide" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#c-slide" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include slinglove_footer.ejs%>