<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title%></title>
    <link rel="stylesheet" href="../stylesheets/slinglove.css">
</head>
<body>
    <div class="login" style="color: #666">
        您的账号已退出,请重新登录 ——><a style="color: red" href="/slinglove/login">点击</a>
    </div>

    <a href="/home"><img class="login_right" src="../images/mongolia.png" alt=""></a>
    <script src="../javascripts/jquery.min.js"></script>
</body>
</html>
