</div>
<!--body wrapper end-->

<!--退出弹出框-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->

                <h4 class="modal-title" >您确定要退出当前状态？
                    <a href="#"><button type="button" class="btn btn-info" data-dismiss="modal">取消</button></a>
                    <a class="" href="/slinglove/sign_login"><button class="btn btn-danger">确定</button></a>
                </h4>

            </div>
            <!--<div class="modal-body">-->
                <!--<a href="/slinglove/sign_login"><button class="btn btn-info">退出</button></a>-->
            <!--</div>-->
        </div>
    </div>
</div>


<!--footer section start-->
<footer>
    © 2015-2016, Content By ZhangCF. All Rights Reserved.浙ICP备16046350号
</footer>
<!--footer section end-->


</div>
<!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../../slinglove/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../../slinglove/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../slinglove/js/modernizr.min.js"></script>
<script src="../../slinglove/js/jquery.nicescroll.js"></script>



<!--common scripts for all pages-->
<script src="../../slinglove/js/scripts.js"></script>

<script>
    $(function(){
//        $("#sign_login").click(function(){
//            alert("1");
//        })
    })
</script>
</body>
</html>
